# Airflow & Docker
logs/
plugins/
postgres_data/
airflow.cfg
airflow.db
standalone_admin_password.txt
.env

# Python
__pycache__/
*.pyc

# 데이터 파일 제외
data/*.json
data/*.csv
!data/sample_chat.json  # 샘플 파일만 예외적으로 허용하고 싶을 때